
<h2>本周完成工作</h2>
{{ range $key, $value := .doneTasks }}
<ul>
    <li>
        {{ $key }}
        <ul>
        {{ range $value }}
            <li>{{ . }}</li>
        {{ end }}
        </ul>
    </li>
</ul>
<p><br></p>
{{ end }}

<ul>
    <li>
        其他
        <ul>
        {{ range .otherTasks }}
            <li>{{ . }}</li>
        {{ end }}
        </ul>
    </li>
</ul>
<p><br></p>

<h2>本周的工作内容总结</h2>
<p><br></p>

<h2>本周遇到的问题列表</h2>
无
<p><br></p>

<h2>本周的收获</h2>
<p><br></p>

<h2>下周计划工作</h2>
<ul>
    {{ range .undoneTasks }}
    <li>跟进 {{ . }}</li>
    {{ end }}
</ul>
<p><br></p>

<h2>OKR本周回顾</h2>
<p><a data-cke-saved-href="{{ .okrURL }}" href="{{ .okrURL }}" target="_blank">点击此处跳转至OKR</a></p>
